{
    "java.configuration.updateBuildConfiguration": "interactive",
    "java.test.config": {
        "name": "allTests",
        "env":{ 
            "UI_TESTS_PLATFORM": "(choose from values per lib.Platform)",
            "PATH_TO_CHROMEDRIVER": "(provide yours)",
            "PATH_TO_GECKODRIVER": "(provide yours)",
            "WIKI_USERNAME": "(provide yours)",
            "WIKI_PASSWORD": "(provide yours)"
        }
    }
}